# Troubleshooting email verification

Troubleshoot problems when verifying your email address.

## Unable to send verification email

You cannot verify email addresses from disposable email address services (services that allow you to receive email at a temporary address that expires after a certain time). If you'd like to keep your email address private, you can use a GitHub-provided `noreply` email address. For more information, see [Setting your commit email address](/en/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-email-preferences/setting-your-commit-email-address#setting-your-commit-email-address-on-github).

## Error page after clicking verification link

The verification link expires after 24 hours. If you don't verify your email within 24 hours, you can request another email verification link.

If you click on the link in the confirmation email within 24 hours and you are directed to an error page, you should ensure that you're signed into the correct account on GitHub.

1. Sign out of your account.
2. Quit and restart your browser.
3. Sign in to your account.
4. Click on the verification link in the email we sent you.

## Email is already verified by another user

If you see the error message `Error adding EMAIL: Email is already verified by another user`, you must either unverify the email for the other account before proceeding, or choose a different email address to verify.

To unverify an email address, delete it in your email settings, then optionally re-add it without verifying to keep any commits linked to your account. See [Changing your primary email address](/en/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-email-preferences/changing-your-primary-email-address).

## Next steps

* For reference information, see [Email addresses reference](/en/account-and-profile/reference/email-addresses-reference).